<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOTES.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6896B4616DA1214D153B575685B856EFA4EF768B</string>
				<key>dateExpires</key>
				<string>2021/4/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>48FK3XCU9V.cc.lotes.workAssistant</string>
				<key>com.apple.developer.team-identifier</key>
				<string>48FK3XCU9V</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LOTES.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4a029afd-8df4-4960-ac2b-c4b463b2e166</string>
				<key>name</key>
				<string>workAssistant</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>48FK3XCU9V</string>
				<key>name</key>
				<string>Lotes Guangzhou Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
